main {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
}

main .error {
	background-color: red;
	padding: 0.5rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: fit-content;
}

main form input {
	height: 1.5rem;
	padding-left: 0.2rem;
}

main form button {
	height: 1.5rem;
}
