header {
	display: flex;
	gap: 0.3rem;
}

header .username {
	font-weight: bolder;
}

form {
	display: flex;
	gap: 0.3rem;
}

form input {
	padding: 0.2rem;
}

table {
	width: 100%;
}

table, th, td {
	padding: 0.5rem;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
	word-break: break-all;
}

@media (min-width: 1000px) {
	.container {
		width: 100%;
	}
}
