* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
}

.container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-height: 100dvh;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 1000px) {
	.container {
		width: 50%;
	}
}
